<html>
    <body bgcolor=#A9CADF>

        <center>

        <h1> IRIS FLOWER DETECTION </h1><br>
        
        <form method="POST", action="{{url_for('home')}}">
           <b> Sepal Length :  <input type="number", name='a', placeholder="enter the value"> <br><br>
            Sepal Width :  <input type="number", name='b', placeholder="enter the value"> <br><br>
            Petal Length :  <input type="number", name='c', placeholder="enter the value"> <br><br>
            Petal Width : <input type="number", name='d', placeholder="enter the value"> <br><br><br></b>
            <input type="submit" , value='predict!' >
        </form>

        <img src='static\flower1.jpg' alt="flower">
        
        </center>

    </body>
</html>
